/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --font-bg-black: #191C1E;
  --font-bg-blue: #00658C;
  --footer-bg: #001E2D;
  --font-roboto: 'Roboto', sans-serif;
  --font-archivo: 'Archivo Black', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: var(--font-roboto);
}